* {
    padding: 0%;
    margin: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./abstract-background.jpg);
    background-size: cover;


}
h2{
    color: rgba(240, 248, 255, 0.789);
    margin: 5px;
}
.box {
    width: 60%;
    height: 300px;
    padding: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.222);
}
.box > p{
    margin-top: 10px;
}



button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    /* text-decoration: none; */
    font-size: 20px;
    border: 1px solid white;
    background: rgba(42, 102, 119, 0.349);
  
    font-family: 'Poppins', sans-serif;
  }
  
  button::before {
    margin-left: auto;
  }
  
  button::after, button::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    transition: 0.5s;
  }
  
  button:hover::after, button:hover::before {
    width: 100%;
  }
  @media only screen and (max-width: 600px) {
    button{
        width: 100px;
        height: min-content;
        font-size: small;
        animation: none;
        margin-top: 8px;
    }
    h1{
        font-size: 20px;
    }
    p{
        color: rgba(0, 0, 0, 0.714);
    }
    button::before {
        margin-left: auto;
      }
      
      button::after, button::before {
        content: '';
        width: 0%;
        height: 2px;
        background: none;
        display: block;
        transition: 0.5s;
      }
      
      button:hover::after, button:hover::before {
        width: 100%;
      }
    
  }